.about__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__text {
padding:0;
margin: 0;
 font-family: 'Gilroy' 'Arial' sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 58px;
color: #2B2A28;
}

.about__title {  
max-width: 180px;     
font-family: "Gilroy" 'Arial ' sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #CB8734;
}

.about__liner {
    display: flex;
    justify-content: space-between;
}

.about__paragrf {
// width: 472px;
padding-top: 86px;
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #2B2A28;
}

.about__uy{
width: 615px;
height: 506px;
margin-top: -29px;
}



@media only screen and (max-width: 500px)  {

    .container {
        padding: 0;
        margin: 0;
    }

    .about__img {
        width: 25px;
        height: 25px;
    }

    .about__text {
        font-size: 25px;
      
    }

    .about__title {
        font-size: 10px;

    }
}

@media only screen and (max-width: 420px) {
    .about__text {
        font-size: 16px;

    }
}  


@media only screen and (max-width: 990px){

    .about__liner {
        flex-direction: column;
        padding-top: 50px;
    }
    .about__paragrf {
        order: 1;
        margin: 10px;
        padding: 12px;
    
    }

    .about__uy {
        order: 2px;
        width: 590px;
        height: 460px;
        background-size: contain;
        margin: auto;
    }
} 

@media only screen and (max-width: 600px) {


    .about__paragrf {
        margin: auto;
        padding: 10px;

    }

    .about__uy {
        max-width: 320px;
        height: 246px;
        background-image: url("../img/mobiluy.jpg");
        margin: auto;
    }
}



.abouyt__kucha {
    z-index: 100;
    margin-top: 100px;
}

.brat {
    position: absolute;
    z-index: 1001;
    width: 420px;
    height: 420px;
    background-image: url('../../img/brat.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 350px;
    margin-top: -50px;
}


.about__box {
position: absolute;
z-index: 10001;
width: 570px;
height: 190px;
margin-left: 298px;
margin-top: -100px;
background: rgba(248, 248, 248, 0.925);
box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
border-radius: 8px;
}

.iconkaa {
    position: absolute;
    margin-top: 38px;
    margin-left: 48px;
}

.box__text {
margin: 6px;
font-family: "Gilroy" "Arial" sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
color: #2B2A28;
}

.about__box-list {
    margin-left: 80px;
    margin-top: 60px;
}

.box__span {
    padding: 0;
    margin: 0;
font-family: "Gilroy" "Arial", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 26px;
color: #2B2A28;
}


.about__box--list {
    margin-top: 150px;
    display: flex;
    justify-content:  space-between;
  
}

.about__box-p {  
width: 194px;   
font-family: "Gilroy" "Arial" sans-serif;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 30px;
color: #CB8734;
}

.hr-box {
margin-top: 20px;
width: 250px;
height: 2px;
background-color: #CB8734;
border-radius: 8px;
}

.about__box-span { 
font-family: "Gilroy" "Arial", sans-serif;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 30px;
color: #2B2A28;
}

.box__iconka {
width: 130px;
margin-top: -180px;
margin-left: 340px;
}

.box__iconka_text {
font-family: "Gilroy";
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
}
