.fotografiya {
    margin-top: 90px;
}

.foto__text {
margin: 0;
 font-family: "Gilroy";
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 58px;
color: #2B2A28;
}

.foto__list {
    display: flex;
    justify-content: space-between;
    margin-left: -55px;
}

.foto {
    padding: 15px;
}


.grafiya {
    margin-top: 50px;
    margin-left: -75px;
}

.grafiya__h3 {
font-family: "Gilroy" Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
color: #2B2A28;
}

.grafiya__div {
    display: flex;
    justify-content: space-between;
}

.grafiya__ul {
    display: flex;
    justify-content: space-between;
    margin-left: -28px;
}

.grafiya__li {
    width: 370px;
    margin: 30px;
    margin-left: 0;
}

.grafiya__span {
display: block;
margin-top: 27px;
padding: 0;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;
color: #2B2A28;
}

.grafiya__p {
display: block;
padding: 0;
margin-top: 18px;
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
color: #2B2A28;
}

 
@media only screen and (max-width: 1105px) {

    .foto__list {
        flex-direction: column;

    }
}